.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
table {
  width: 640px;
  border: 1px solid white;
}

.nav{
  color: white;
}

#NAV{
  background-color: #659af0;
}

.navbar-default .navbar-brand {
  color: white;
}

.protable {
  margin-top: 15px;
}

.thead{
  background-color: #659af0;
  color: white;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.dwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width_div{
  margin: 0 auto;
  width:60%
}
#myDIV{
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#btn1 , #btn2 {
  margin-right: 5%;
  display:inline-block;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  width: 144px;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
}

.borders {
  border: 0;
  border-radius: 1rem;
  padding-bottom: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}